
@import '@/assets/css/typography.css';

::selection {
	background: rgba(0, 0, 0, 0.99);
	color: rgb(255, 255, 255);
}
::-moz-selection {
	background: rgba(0, 0, 0, 0.99);
	color: rgb(255, 255, 255);
}

html {
	box-sizing: border-box;
}

body {
	-webkit-tap-highlight-color: transparent;
	background: rgb(var(--clr-white));
}

/* layout */

.container {
	position: relative;
}

/* transitions */

.page-enter-active {
	transition: opacity 0.5s ease-out;
}

.page-leave-active {
	transition: opacity 0s ease;
}

.page-enter,
.page-leave-to {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}