::selection {
	background: rgba(0, 0, 0, 0.99);
	color: rgb(255, 255, 255);
}

html {
	box-sizing: border-box;
}

body {
	-webkit-tap-highlight-color: transparent;
	background: var(--rgb-white);
}

/* layout */

.container {
	position: relative;
}

main {
	margin-top: var(--header-height);

	@media (--w-tablet-1) {
		min-height: 75vh;
		margin-top: 0;
	}
}

/* transitions */

.page-enter-active, .page-leave-active {
	transition: opacity 0.5s;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}