/* @font-face {
	font-family: 'Fontname';
	src: url('~/assets/fonts/Fontname.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Fontname Italic';
	src: url('~/assets/fonts/Fontname Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: block;
} */

:root {
	/* fonts */
	--font-regular: -apple-system, BlinkMacSystemFont, sans-serif;
	--font-italic: -apple-system, BlinkMacSystemFont, sans-serif;

	/* variables */
	--viewport-min: 320;
	--viewport-max: 767;
	--root: 10;

	/* sm */
	--sm-size-min: 11;
	--sm-size-max: 12;
	--sm-size-v: calc(
		(
				(100 * (var(--sm-size-max) - var(--sm-size-min))) /
					(var(--viewport-max) - var(--viewport-min))
			) * 1vw
	);
	--sm-size-r: calc(
		(
				(
						(
								var(--viewport-min) * var(--sm-size-max) -
									var(--viewport-max) * var(--sm-size-min)
							) / (var(--viewport-min) - var(--viewport-max))
					) / var(--root)
			) * 1rem
	);
	--sm-size: clamp(
		((var(--sm-size-min) / var(--root)) * 1rem),
		(var(--sm-size-v) + var(--sm-size-r)),
		((var(--sm-size-max) / var(--root)) * 1rem)
	);
	--sm-leading-min: 14;
	--sm-leading-max: 15;
	--sm-leading-v: calc(
		(
				(100 * (var(--sm-leading-max) - var(--sm-leading-min))) /
					(var(--viewport-max) - var(--viewport-min))
			) * 1vw
	);
	--sm-leading-r: calc(
		(
				(
						(
								var(--viewport-min) * var(--sm-leading-max) -
									var(--viewport-max) * var(--sm-leading-min)
							) / (var(--viewport-min) - var(--viewport-max))
					) / var(--root)
			) * 1rem
	);
	--sm-leading: clamp(
		((var(--sm-leading-min) / var(--root)) * 1rem),
		(var(--sm-leading-v) + var(--sm-leading-r)),
		((var(--sm-leading-max) / var(--root)) * 1rem)
	);
	--sm-tracking: -0.01rem;

	/* base */
	--base-size-min: 14;
	--base-size-max: 16;
	--base-size-v: calc(
		(
				(100 * (var(--base-size-max) - var(--base-size-min))) /
					(var(--viewport-max) - var(--viewport-min))
			) * 1vw
	);
	--base-size-r: calc(
		(
				(
						(
								var(--viewport-min) * var(--base-size-max) -
									var(--viewport-max) * var(--base-size-min)
							) / (var(--viewport-min) - var(--viewport-max))
					) / var(--root)
			) * 1rem
	);
	--base-size: clamp(
		((var(--base-size-min) / var(--root)) * 1rem),
		(var(--base-size-v) + var(--base-size-r)),
		((var(--base-size-max) / var(--root)) * 1rem)
	);
	--base-leading-min: 17;
	--base-leading-max: 19;
	--base-leading-v: calc(
		(
				(100 * (var(--base-leading-max) - var(--base-leading-min))) /
					(var(--viewport-max) - var(--viewport-min))
			) * 1vw
	);
	--base-leading-r: calc(
		(
				(
						(
								var(--viewport-min) * var(--base-leading-max) -
									var(--viewport-max) *
									var(--base-leading-min)
							) / (var(--viewport-min) - var(--viewport-max))
					) / var(--root)
			) * 1rem
	);
	--base-leading: clamp(
		((var(--base-leading-min) / var(--root)) * 1rem),
		(var(--base-leading-v) + var(--base-leading-r)),
		((var(--base-leading-max) / var(--root)) * 1rem)
	);
	--base-tracking: -0.01rem;

	/* lg */
	--lg-size-min: 26;
	--lg-size-max: 38;
	--lg-size-v: calc(
		(
				(100 * (var(--lg-size-max) - var(--lg-size-min))) /
					(var(--viewport-max) - var(--viewport-min))
			) * 1vw
	);
	--lg-size-r: calc(
		(
				(
						(
								var(--viewport-min) * var(--lg-size-max) -
									var(--viewport-max) * var(--lg-size-min)
							) / (var(--viewport-min) - var(--viewport-max))
					) / var(--root)
			) * 1rem
	);
	--lg-size: clamp(
		((var(--lg-size-min) / var(--root)) * 1rem),
		(var(--lg-size-v) + var(--lg-size-r)),
		((var(--lg-size-max) / var(--root)) * 1rem)
	);
	--lg-leading-min: 26;
	--lg-leading-max: 38;
	--lg-leading-v: calc(
		(
				(100 * (var(--lg-leading-max) - var(--lg-leading-min))) /
					(var(--viewport-max) - var(--viewport-min))
			) * 1vw
	);
	--lg-leading-r: calc(
		(
				(
						(
								var(--viewport-min) * var(--lg-leading-max) -
									var(--viewport-max) * var(--lg-leading-min)
							) / (var(--viewport-min) - var(--viewport-max))
					) / var(--root)
			) * 1rem
	);
	--lg-leading: clamp(
		((var(--lg-leading-min) / var(--root)) * 1rem),
		(var(--lg-leading-v) + var(--lg-leading-r)),
		((var(--lg-leading-max) / var(--root)) * 1rem)
	);
	--lg-tracking: -0.03rem;

	/* xl */
	--xl-size-min: 40;
	--xl-size-max: 50;
	--xl-size-v: calc(
		(
				(100 * (var(--xl-size-max) - var(--xl-size-min))) /
					(var(--viewport-max) - var(--viewport-min))
			) * 1vw
	);
	--xl-size-r: calc(
		(
				(
						(
								var(--viewport-min) * var(--xl-size-max) -
									var(--viewport-max) * var(--xl-size-min)
							) / (var(--viewport-min) - var(--viewport-max))
					) / var(--root)
			) * 1rem
	);
	--xl-size: clamp(
		((var(--xl-size-min) / var(--root)) * 1rem),
		(var(--xl-size-v) + var(--xl-size-r)),
		((var(--xl-size-max) / var(--root)) * 1rem)
	);
	--xl-leading-min: 40;
	--xl-leading-max: 50;
	--xl-leading-v: calc(
		(
				(100 * (var(--xl-leading-max) - var(--xl-leading-min))) /
					(var(--viewport-max) - var(--viewport-min))
			) * 1vw
	);
	--xl-leading-r: calc(
		(
				(
						(
								var(--viewport-min) * var(--xl-leading-max) -
									var(--viewport-max) * var(--xl-leading-min)
							) / (var(--viewport-min) - var(--viewport-max))
					) / var(--root)
			) * 1rem
	);
	--xl-leading: clamp(
		((var(--xl-leading-min) / var(--root)) * 1rem),
		(var(--xl-leading-v) + var(--xl-leading-r)),
		((var(--xl-leading-max) / var(--root)) * 1rem)
	);
	--xl-tracking: -0.01rem;
}

@media (min-width: token(width.md)) {
	:root {
		/* variables */
		--viewport-min: 768;
		--viewport-max: 1920;
		--root: 10;

		/* sm */
		--sm-size-min: 10;
		--sm-size-max: 14;
		--sm-size-v: calc(
			(
					(100 * (var(--sm-size-max) - var(--sm-size-min))) /
						(var(--viewport-max) - var(--viewport-min))
				) * 1vw
		);
		--sm-size-r: calc(
			(
					(
							(
									var(--viewport-min) * var(--sm-size-max) -
										var(--viewport-max) * var(--sm-size-min)
								) / (var(--viewport-min) - var(--viewport-max))
						) / var(--root)
				) * 1rem
		);
		--sm-size: clamp(
			((var(--sm-size-min) / var(--root)) * 1rem),
			(var(--sm-size-v) + var(--sm-size-r)),
			((var(--sm-size-max) / var(--root)) * 1rem)
		);
		--sm-leading-min: 13;
		--sm-leading-max: 17;
		--sm-leading-v: calc(
			(
					(100 * (var(--sm-leading-max) - var(--sm-leading-min))) /
						(var(--viewport-max) - var(--viewport-min))
				) * 1vw
		);
		--sm-leading-r: calc(
			(
					(
							(
									var(--viewport-min) * var(--sm-leading-max) -
										var(--viewport-max) *
										var(--sm-leading-min)
								) / (var(--viewport-min) - var(--viewport-max))
						) / var(--root)
				) * 1rem
		);
		--sm-leading: clamp(
			((var(--sm-leading-min) / var(--root)) * 1rem),
			(var(--sm-leading-v) + var(--sm-leading-r)),
			((var(--sm-leading-max) / var(--root)) * 1rem)
		);
		--sm-tracking: -0.01rem;

		/* base */
		--base-size-min: 15;
		--base-size-max: 17;
		--base-size-v: calc(
			(
					(100 * (var(--base-size-max) - var(--base-size-min))) /
						(var(--viewport-max) - var(--viewport-min))
				) * 1vw
		);
		--base-size-r: calc(
			(
					(
							(
									var(--viewport-min) * var(--base-size-max) -
										var(--viewport-max) *
										var(--base-size-min)
								) / (var(--viewport-min) - var(--viewport-max))
						) / var(--root)
				) * 1rem
		);
		--base-size: clamp(
			((var(--base-size-min) / var(--root)) * 1rem),
			(var(--base-size-v) + var(--base-size-r)),
			((var(--base-size-max) / var(--root)) * 1rem)
		);
		--base-leading-min: 18;
		--base-leading-max: 20;
		--base-leading-v: calc(
			(
					(100 * (var(--base-leading-max) - var(--base-leading-min))) /
						(var(--viewport-max) - var(--viewport-min))
				) * 1vw
		);
		--base-leading-r: calc(
			(
					(
							(
									var(--viewport-min) *
										var(--base-leading-max) -
										var(--viewport-max) *
										var(--base-leading-min)
								) / (var(--viewport-min) - var(--viewport-max))
						) / var(--root)
				) * 1rem
		);
		--base-leading: clamp(
			((var(--base-leading-min) / var(--root)) * 1rem),
			(var(--base-leading-v) + var(--base-leading-r)),
			((var(--base-leading-max) / var(--root)) * 1rem)
		);
		--base-tracking: -0.01rem;

		/* lg */
		--lg-size-min: 46;
		--lg-size-max: 60;
		--lg-size-v: calc(
			(
					(100 * (var(--lg-size-max) - var(--lg-size-min))) /
						(var(--viewport-max) - var(--viewport-min))
				) * 1vw
		);
		--lg-size-r: calc(
			(
					(
							(
									var(--viewport-min) * var(--lg-size-max) -
										var(--viewport-max) * var(--lg-size-min)
								) / (var(--viewport-min) - var(--viewport-max))
						) / var(--root)
				) * 1rem
		);
		--lg-size: clamp(
			((var(--lg-size-min) / var(--root)) * 1rem),
			(var(--lg-size-v) + var(--lg-size-r)),
			((var(--lg-size-max) / var(--root)) * 1rem)
		);
		--lg-leading-min: 40;
		--lg-leading-max: 50;
		--lg-leading-v: calc(
			(
					(100 * (var(--lg-leading-max) - var(--lg-leading-min))) /
						(var(--viewport-max) - var(--viewport-min))
				) * 1vw
		);
		--lg-leading-r: calc(
			(
					(
							(
									var(--viewport-min) * var(--lg-leading-max) -
										var(--viewport-max) *
										var(--lg-leading-min)
								) / (var(--viewport-min) - var(--viewport-max))
						) / var(--root)
				) * 1rem
		);
		--lg-leading: clamp(
			((var(--lg-leading-min) / var(--root)) * 1rem),
			(var(--lg-leading-v) + var(--lg-leading-r)),
			((var(--lg-leading-max) / var(--root)) * 1rem)
		);
		--lg-tracking: -0.03rem;

		/* xl */
		--xl-size-min: 75;
		--xl-size-max: 90;
		--xl-size-v: calc(
			(
					(100 * (var(--xl-size-max) - var(--xl-size-min))) /
						(var(--viewport-max) - var(--viewport-min))
				) * 1vw
		);
		--xl-size-r: calc(
			(
					(
							(
									var(--viewport-min) * var(--xl-size-max) -
										var(--viewport-max) * var(--xl-size-min)
								) / (var(--viewport-min) - var(--viewport-max))
						) / var(--root)
				) * 1rem
		);
		--xl-size: clamp(
			((var(--xl-size-min) / var(--root)) * 1rem),
			(var(--xl-size-v) + var(--xl-size-r)),
			((var(--xl-size-max) / var(--root)) * 1rem)
		);
		--xl-leading-min: 75;
		--xl-leading-max: 90;
		--xl-leading-v: calc(
			(
					(100 * (var(--xl-leading-max) - var(--xl-leading-min))) /
						(var(--viewport-max) - var(--viewport-min))
				) * 1vw
		);
		--xl-leading-r: calc(
			(
					(
							(
									var(--viewport-min) * var(--xl-leading-max) -
										var(--viewport-max) *
										var(--xl-leading-min)
								) / (var(--viewport-min) - var(--viewport-max))
						) / var(--root)
				) * 1rem
		);
		--xl-leading: clamp(
			((var(--xl-leading-min) / var(--root)) * 1rem),
			(var(--xl-leading-v) + var(--xl-leading-r)),
			((var(--xl-leading-max) / var(--root)) * 1rem)
		);
		--xl-tracking: -0.01rem;
	}
}

.text-sm {
	font-family: var(--font-regular);
	font-size: var(--sm-size-min);
	font-size: var(--sm-size);
	line-height: var(--sm-leading);
	letter-spacing: var(--sm-tracking);
}

.text-base {
	font-family: var(--font-regular);
	font-size: var(--base-size-min);
	font-size: var(--base-size);
	line-height: var(--base-leading);
	letter-spacing: var(--base-tracking);
}

.text-lg {
	font-family: var(--font-regular);
	font-size: var(--lg-size-min);
	font-size: var(--lg-size);
	line-height: var(--lg-leading);
	letter-spacing: var(--lg-tracking);
	font-weight: 600;
}

.text-xl {
	font-family: var(--font-regular);
	font-size: var(--xl-size-min);
	font-size: var(--xl-size);
	line-height: var(--xl-leading);
	letter-spacing: var(--xl-tracking);
}

html {
	font-size: calc(var(--root) * 1px);
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: var(--font-regular);
	font-size: var(--base-size);
	line-height: var(--base-leading);
	letter-spacing: var(--base-tracking);
	color: var(--rgb-white);
	font-weight: 400;
}

/* links */

a {
	display: inline-block;
	color: var(--rgb-white);
	text-decoration: none;
}

.blockcontent a {
	border-bottom: 1px solid currentColor;
}

.imagelink {
	/* display: flex; */
}

@media (hover: hover) and (pointer: fine) {
	a:hover,
	.textlink:hover {
		color: var(--rgb-accent);
	}

	a .imagelink::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: var(--rgb-hover);
		z-index: 2;
		mix-blend-mode: darken;
		opacity: 0;
	}

	a:hover .imagelink::after {
		opacity: 0.8;
	}
}

/* a11y */

a:focus-visible,
button:focus-visible {
	border-radius: 0.2rem;
	outline: none;
	box-shadow: 0 0 0 3px rgb(var(--clr-accent) / 1);
	background: var(--rgb-accent);
}

.hidden-item {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	left: -1000px;
}

/* highlighting */

.text_bold,
.blockcontent strong {
	font-weight: 600;
}

.text_italic,
em {
	font-family: var(--font-italic);
	font-style: italic;
}

.text_white {
	color: var(--rgb-white);
}

/* blocks */

.blockcontent {
	white-space: pre-wrap;
}

.blockcontent p {
	min-height: 1em;
	margin-bottom: 1em;
}

.blockcontent p:last-child {
	margin-bottom: 0;
}

.blockcontent ul,
.blockcontent ol {
	padding-left: 2rem;
	margin: 1em 0;
}

.blockcontent ul {
	list-style-type: disc;
}

.blockcontent ol {
	list-style-type: decimal;
}

.blockcontent h2 {
	font-weight: 700;
	margin: 2em 0 1em;
}

.blockcontent h3 {
	font-weight: 700;
	margin: 2em 0 1em;
}

.blockcontent h2:first-child {
	margin-top: 0;
}

/* blockcontent pictures */

.blockcontent figure {
	margin-bottom: 1em;
}

.blockcontent figure,
.blockcontent img,
.blockcontent video {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.blockcontent figcaption {
	margin: 0.5em 0 1em 0;
}
