:root {
	--clr-black: 0 0 0;
	--rgb-black: rgb(var(--clr-black));
	--clr-offblack: 15 15 15;
	--rgb-offblack: rgb(var(--clr-offblack));
	--clr-white: 255 255 255;
	--rgb-white: rgb(var(--clr-white));
	--clr-accent: 139 195 189;
	--rgb-accent: rgb(var(--clr-accent));
	--clr-hover: 231 143 78;
	--rgb-hover: rgb(var(--clr-hover));
	--unit-1: 0.25rem;
	--unit-2: 0.5rem;
	--unit-3: 0.75rem;
	--unit-4: 1rem;
}