:root {
	--clr-black: 0 0 0;
	--clr-white: 255 255 255;
	--clr-accent: 0, 220, 130;
	--preview-banner-height: 43px;
	--header-height: 2rem;
}

@media (--w-tablet-1) {
	:root {
		--header-height: 3rem;
	}
}