:root {
	--clr-black: 0 0 0;
	--rgb-black: rgb(var(--clr-black));
	--clr-white: 255 255 255;
	--rgb-white: rgb(var(--clr-white));
	--clr-accent: 239 40 40;
	--rgb-accent: rgb(var(--clr-accent));
	--preview-banner-height: 43px;
	--header-height: 3rem;
}

@media (--w-tablet-1) {
	:root {
		--header-height: 3rem;
	}
}